.input-root {
  padding: 20px 100px;
  margin-top: 50px;
  margin-bottom: 50px;

}

.schedule-btn {
  background: "#006DAF"; 
  color: "#ffffff"; 
  padding: "10px 20px"; 
  border: "1px solid #c8c8c8"; 
  font: "bold 14px Arial"; 
  cursor: "pointer"
}