.video-parent-div {margin-top: 7rem;}

.video-player {border-radius: 10px;}

.description-div {
  display: flex;
  justify-content: center;
}

.guarantee-div {
  display: flex;
  justify-content: center;
}

.guarantee-statement {max-width: 500px}

.guarantee-stamp {
  margin-left: 100px;
  background-color: white;
  color: black;
  border-radius: 50%;
  width: 185px;
}

.who-div, 
.results-div, 
.what-I-need-to-div,
.what-I-get,
.cant-I-hire-someone-div,
.buy-your-app-div,
.waist-months-div
{
  max-width: 700px;
  margin: auto;
}
